name: check

on:
  push:
    branches: [ master ]

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: prepare
      uses: actions/setup-python@v1
      with:
        python-version: 3.9

    - name: install
      run: pip install -r requirements-dev.txt

    - name: test
      run: pytest .

    - name: lint
      run: pre-commit run --all-files
